<div posts="vm.post" post="post" class="post" ng-show="vm.post">

  <br>
  <h1>{{ vm.post.title }}</h1>
  <br><h4>By {{ vm.post.author.first_name }} {{ vm.post.author.last_name }} </h4>

  <!-- <div class="post__content" contenteditable="true">
    {{ vm.post.content }}
  </div><br><br> -->

  <div class="mceNonEditable">
    <br>
    <form role="form" method="post" ng-controller="DisplayPostController as vm" ng-submit="vm.submit()">
      <textarea class="tinyMce mceNonEditable" id="readarea" ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
      <br><br>
      <div class="form-group text-right">
        <a ng-href="/review" class="btn btn-primary">
          Review
        </a>
      </div>
    </form>
  </div>

</div>
