<div posts="vm.post" post="post" reviews="vm.review" review="review" class="post" ng-show="vm.post">

  <br>
  <br><h4>'{{ vm.post.title }}' by <a class="onblack" href="/+{{ vm.post.author.username }}">{{ vm.post.author.username }} </a></h4>
  <br><h1>Review by <a class="onblack" href="/+{{ vm.review.author.username }}">{{ vm.review.author.username }} </a></h1>

  <div class="review__content" contenteditable="false">
    <br>
    <form role="form" method="review" ng-controller="DisplayFullReviewController as vm">
      <textarea class="tinyMce" id="readarea" ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
      <br><br>

      <table style="width:100%">
      <tr>
        <th class="consider">Things to consider</th>
        <th class="welldone">Done Well</th>
        <th class="improve">To Be Improved</th>
      </tr>
      <tr>
        <td>
          Language
          <ul>
            <li>Control: fluency, clarity, precision
            <li>Inventiveness, selectivity and originality in description
            <li>Use of the senses
            <li>Balance between dramatization and exposition (showing and telling)
            <li>Use of cliché generalization and repetition
          </ul>
        </td>
        <td><br>
          <textarea rows="10" class="table" id="language_well" ng-model="language_well" required></textarea>
        </td>
       <td><br>
          <textarea rows="10" class="table" id="language_improve" ng-model="language_improve" required></textarea>
        </td>
      </tr>
      <tr>
        <td>
          Character
          <ul>
            <li>Convincing, complex, well realized
            <li>Motive and conflict well realized
            <li>Psychology well presented
            <li>Dialogue reveals character and advances plot
          </ul>
        </td>
        <td><br>
          <textarea rows="7" class="table" id="character_well" ng-model="character_well" required></textarea>
        </td>
       <td><br>
          <textarea rows="7" class="table" id="character_improve" ng-model="character_improve" required></textarea>
        </td>
      </tr>
      <tr>
        <td>
          Setting
          <ul>
            <li>Fictional world vivid and convincing
          </ul>
        </td>
        <td><br>
          <textarea rows="3" class="table" id="setting_well" ng-model="setting_well" required></textarea>
        </td>
       <td><br>
          <textarea rows="3" class="table" id="setting_improve" ng-model="setting_improve" required></textarea>
        </td>
      </tr>
      <tr>
        <td>
          Structure
          <ul>
            <li>Coherent, good control of plot development
            <li>Evidence of good judgment in choice of form for theme
            <li>Management of time: control of flashbacks/forwards
            <li>Management of point of view
            <li>Narrative arc well-realised
          </ul>
        </td>
        <td><br>
          <textarea rows="10" class="table" id="structure_well" ng-model="structure_well" required></textarea>
        </td>
       <td><br>
          <textarea rows="10" class="table" id="structure_improve" ng-model="structure_improve" required></textarea>
        </td>
      </tr>
      <tr>
        <td>
          Theme/Content
          <ul>
            <li>Originality and inventiveness
            <li>Insightful
            <li>Powerful
            <li>Engaging
            <li>Demonstrates emotional/intellectual depth
          </ul>
        </td>
        <td><br>
          <textarea rows="8" class="table" id="theme_well" ng-model="theme_well" required></textarea>
        </td>
       <td><br>
          <textarea rows="8" class="table" id="theme_improve" ng-model="theme_improve" required></textarea>
        </td>
      </tr>
      </table>

      <br>

      <div class="row">
        <div class="col-sm-3">
          <label for="overall">Overall rating:</label>
        </div>
        <div class="col-sm-3">
          <fieldset class="rating" id="overall_rating">
            <input type="radio" ng-model="overall_rating" id="star5" name="rating" value='5' /><label class = "full" for="star5" title="Excellent - keep going"></label>
            <input type="radio" ng-model="overall_rating" id="star4half" name="rating" value=4.5 /><label class="half" for="star4half" title="Very good"></label>
            <input type="radio" ng-model="overall_rating" id="star4" name="rating" value=4 /><label class = "full" for="star4" title="Good"></label>
            <input type="radio" ng-model="overall_rating" id="star3half" name="rating" value=3.5 /><label class="half" for="star3half" title="Good"></label>
            <input type="radio" ng-model="overall_rating" id="star3" name="rating" value=3.0 /><label class = "full" for="star3" title="Good, but minor revisions needed"></label>
            <input type="radio" ng-model="overall_rating" id="star2half" name="rating" value=2.5 /><label class="half" for="star2half" title="Has potential, consider revisions"></label>
            <input type="radio" ng-model="overall_rating" id="star2" name="rating" value=2.0 /><label class = "full" for="star2" title="Can be considerably improved, but has potential"></label>
            <input type="radio" ng-model="overall_rating" id="star1half" name="rating" value=1.5 /><label class="half" for="star1half" title="Can be considerably improved, but has potential"></label>
            <input type="radio" ng-model="overall_rating" id="star1" name="rating" value=1.0 /><label class = "full" for="star1" title="Consider revising completely"></label>
            <input type="radio" ng-model="overall_rating" id="starhalf" name="rating" value=0.5 /><label class="half" for="starhalf" title="Revise completely"></label>
          </fieldset>
        </div>
      </div>

      <div class="form-group">
        <label for="comment">Overall comment:</label>
        <textarea class="form-control" id="overall_comment" ng-model="overall_comment" required></textarea>
      </div>

    </form>
  </div>

</div>
