<div class="row">
  <div class="col-sm-12">
    <table>
      <tr>
        <td class="username"><a class="onblack" href="/+{{ review.author.username }}">
                {{ review.author.username }}
              </a>
        </td>
        <td class="rating">
          Rating: {{ review.overall_rating }}/5
        </td>
      </tr>
      <tr class="comment">
        <td class="comment" colspan="2"><a class="onblack" ng-href="/+{{ review.author.username }}/reviews/{{ review.id }}/posts/{{ review.post_id }}">{{ review.overall_comment }}</a></td>
      </tr>
    </table>
  </div>
</div>
