

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Register | Schreib - Your Writing Companion</title>

	<!-- Bootstrap Core CSS -->
	<link href="{% static schreib/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../schreib/assets/css/form-elements.css" rel="stylesheet">
	<!--    <link href="assets/css/style.css" rel="stylesheet">-->

	<!-- Custom CSS -->
	<link href="../schreib/css/register-style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="../schreib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    </head>
    	<!-- Intro Header -->
    	<br><br><br>
    	<div class="container text-center">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<h1>Registration</h1>
    				<!--                        <p class="intro-text">Your Writing Companion</p>-->
    			</div>
    		</div>
    	</div>

    	<!--Multi Step Form -->
    	<div class="msf-container text-center">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-12 msf-form">
    					<form role="form" action="" method="post" class="form-inline" ng-submit="vm.register()">
    						<div class="form-group">
    							<label for="username">Username:</label><br>
                  <input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. john" />
    						</div><br><br>
    						<div class="form-group">
    							<label for="first-name">First Name:</label><br>
                  <input type="text" class="form-control" id="register__first_name" ng-model="vm.first_name" placeholder="John" />
    						</div><br><br>
    						<div class="form-group">
    							<label for="last-name">Last Name:</label><br>
                  <input type="text" class="form-control" id="register__last_name" ng-model="vm.last_name" placeholder="Doe" />
    						</div><br><br>
    						<div class="form-group">
    							<label for="birth-date">Date of Birth:</label><br>
                  <input type="text" class="form-control" id="register__dob" ng-model="vm.dob" placeholder="ex. YYYY-MM-DD" />
    						</div><br><br>
    						<div class="form-group">
    							<label for="email">Email:</label><br>
                  <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
    						</div><br><br>
    						<div class="form-group">
    							<label for="password">Password:</label><br>
                  <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. Password" />
    						</div

    						<br><br><label><b>By clicking the register button below, you agree to the site’s <a href="#"><u>Terms and Conditions</u></a>.</b></label><br><br>
    						<button type="submit" class="btn">Submit</button>

    					</form>

    				</div>
    			</div>
    		</div>
    	</div>



    	<!-- Custom Theme JavaScript -->
    	<script src="../schreib/js/grayscale.js"></script>
<!--
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/scripts.js"></script>
-->


</body>
