{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/grayscale.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/ie10-viewport-bug-workaround.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/register-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schreib/css/starter-template.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />


<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
{% endcompress %}
